<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <% portfolio.errors.full_messages.each do |error| %>
      <%= alert_generator error%>
    <%end%>
  <% end %>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class:'form-control'  %>
        </div>

        <div class="form-group">
          <%= form.label :subtitle %>
          <%= form.text_field :subtitle, class:'form-control'  %>
        </div>

        <div class="form-group">
          <label class="btn btn-primary">
            Upload a main image file <%= form.file_field :main_image, style:"display:none;" %>
          </label>
        </div>

        <div class="form-group">
          <label class="btn btn-primary">
            Upload a thumb image file <%= form.file_field :thumb_image, style:"display:none;" %>
          </label>
                <div class="form-group">
        <%= form.file_field :main_image %>
      </div>

      <div class="form-group">
        <%= form.file_field :thumb_image %>
      </div>
        </div>

      </div>
      <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class:'form-control'  %>
      </div>
      <ul>
      </div>
      <hr>
      <h2>Technologies Used</h2>
      <div class="col-md-12">
        <%= form.fields_for :technologies do |technology_form|%>
        <div class="form-group">
          <br>
            <%= technology_form.text_field :name, class:'form-control'  %>

          <%end %>
        </div>
      </div>


        <%
=begin%>
 <div class="form-group">
          <% cities_array = Skill.all.map { |skill| [skill.title, skill.id] } %>
          <%= form.select(:cities_array, cities_array) %>
        </div>
<%
=end%>

      <div class="actions">
        <%= form.submit 'Save',class:"btn btn-primary btn-block" %>
      </div>
<% end %>
